.rusv-search-layer {
    display: inline-block;
}

.rusv-search-form-title {
    display: inline-block;
    padding-right: 10px;
}

input[type="text"].rusv-search-form-input {
    padding: 2px;
    width: 200px;
    margin-right: 5px;
}

.rusv-search-form-title:not(.rusv-hidden) ~ input {
    display: none;
}

.rusv-search-form-button {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.rusv-search-form-button > img {
    vertical-align: bottom;
}
