div.rusv-body-content-data {
    overflow: inherit;
}

.rusv-iblock-list-control-buttons + .rusv-iblock-list {
    margin-top: 60px;
}

.rusv-thanks-unit-user-link, .rusv-thanks-unit-user-link:visited {
    font-size: 20px;
    line-height: 24px;
    color: #0091CA;
    text-decoration: none; 
}

.rusv-thanks-unit-user-link + .rusv-thanks-unit-user-link:before {
    content: ', ';
}

.rusv-question-unit-name {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
    color: #0091CA;
}

.rusv-employee-announce-unit-name-value {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 20px;
}

.rusv-employee-announce-unit-full-name-link,
.rusv-employee-announce-unit-full-name-link:visited {
    font-size: 20px;
    line-height: 24px;
    color: #0091CA;
    text-decoration: none;
}

.rusv-add-new-question-buttons,
.rusv-add-new-employee-announce-buttons {
    text-align: right;
}