body {
    background-color: #F3F3F3;
    font-family: "Arial";
    font-size: 16px;
}

*.rusv-hidden,
input[type="file"] {
    display: none !important;
}

*.rusv-fixed {
    position: fixed;
    box-sizing: border-box;
    z-index: 1;
}

.rusv-no-reaction {
    pointer-events: none;
}

.rusv-head,
.rusv-body,
.rusv-footer {
    display: table;
    width: 100%;
    box-sizing: border-box;
    min-width: 1100px;
}

.rusv-head > *,
.rusv-body > *,
.rusv-footer > * {
    display: table-cell;
    vertical-align: middle;
}

.rusv-head-logo {
    width: 235px;
    padding-left: 50px;
    height: 96px;
}

.rusv-head-date {
    width: 100px;
    padding-top: 10px;
}

.rusv-head-incident-static {
    padding-top: 10px;
}

.rusv-head-search {
    text-align: right;
    padding-right: 15px;
}

.rusv-head-authorization {
    width: 80px;
}

.rusv-menu-area {
    height: 47px;
    min-width: 1100px;
}

.rusv-menu {
    background: linear-gradient(0deg, #0091CA 8.74%, #76CBEF 100%);
    height: 47px;
    padding: 0 175px 0 145px;
    z-index: 3;
}

.rusv-menu #horizontal-multilevel-menu {
    display: table;
    width: 100%;
}

.rusv-menu #horizontal-multilevel-menu > li {
    display: table-cell;
    float: none;
    width: 16%;
}

.rusv-menu #horizontal-multilevel-menu li li {
    border: 0;
    font-family: "Arial";
    font-size: 14px;
    text-transform: uppercase;
}

.rusv-menu #horizontal-multilevel-menu li li:hover {
    background: #ffffff;
    position: relative;
}

.rusv-menu #horizontal-multilevel-menu li li + li {
    padding-top: 5px;
}

.rusv-menu #horizontal-multilevel-menu li li a {
    font-weight: 100;
    color: #0091CA;
}

.rusv-menu #horizontal-multilevel-menu li li:hover > a {
    color: #D6D6D6;
}

.rusv-menu #horizontal-multilevel-menu > li > ul ul {
    min-width: 250px;
    left: 50%;
    top: 25px;
    margin: 0;
}

.rusv-menu #horizontal-multilevel-menu > li > ul {
    min-width: 12.7%;
}

.rusv-menu #horizontal-multilevel-menu > li ul {
    padding: 10px;
    background: #ffffff;
    border: 0;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
}

.rusv-menu #horizontal-multilevel-menu .root-item {
    font-family: Arial;
    font-size: 16px;
    line-height: 37px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 100;
}

.rusv-menu #horizontal-multilevel-menu li:hover .root-item {
    background: linear-gradient(0deg, #01a6e6 8.74%, #88d6f7 100%);
}

.rusv-body {
    min-height: 780px;
    padding: 40px 11% 35px 11%;
}

.rusv-body > * {
    vertical-align: top;
}

.rusv-body-left-part {
    width: 450px;
}

.rusv-body-next-event {
    background-color: #C0EBFE;
    padding: 15px;
    margin-bottom: 25px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    font-size: 16px;
    border-radius: 5px;
}

.rusv-body-content {
    padding-left: 75px;
}

.rusv-body-content-data {
    overflow: hidden;
    max-width: 945px;
}

.rusv-footer-menu {
    padding-left: 50px;
}

.rusv-footer-menu #horizontal-multilevel-menu li {
    font-family: "Arial";
    font-size: 16px;
    line-height: 26px;
}

.rusv-footer-menu #horizontal-multilevel-menu li:hover {
    background-color: #F3F3F3;
    border-bottom: 3px solid #A6A6A6;
    padding-bottom: 10px;
}

.rusv-footer-menu #horizontal-multilevel-menu li a {
    color: #949494;
    padding: 0;
    display: inline-block;
    padding-right: 20px;
}

.rusv-footer-menu #horizontal-multilevel-menu li + li a {
    padding-left: 15px;
}

.rusv-footer-menu #horizontal-multilevel-menu li + li:before {
    content: '|';
    color: #CCCCCC;
    font-size: 20px;
    line-height: 20px;
}

.rusv-footer-icons {
    text-align: right;
    padding-right: 60px;
    vertical-align: top;
}

.rusv-icon {
    display: inline-block;
}

.rusv-icon > img {
    height: 28px;
}

.rusv-icon + .rusv-icon {
    margin-left: 15px;
}

.rusv-video-icon img {
    height: 24px;
}

.rusv-main-menu-unit {
    position: relative;
    border-radius: 5px;
    display: inline-block;
    padding: 25px;
    width: calc(100% - 50px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

.rusv-main-menu-unit a {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
}

.rusv-main-menu-unit a:visited {
    color: #ffffff;
}

.rusv-main-menu-unit a:after {
    content: '';
    position: absolute;
    display: inline-block;
    background-repeat: no-repeat;
    right: 25px;
}

.rusv-main-menu-unit + .rusv-main-menu-unit {
    margin-top: 25px;
}

.rusv-main-menu-brain {
    background-color: #ffffff;
}

.rusv-main-menu-brain a:after {
    background-image: url(/local/templates/rusvinyl/images/brain.svg);
    right: none;
    left: calc((100% - 100px) / 2);
    top: calc((100% - 38px) / 2);
    width: 100px;
    height: 38px;
}

.rusv-main-menu-thanks {
    background-color: #1E8BC6;
}

.rusv-main-menu-thanks a:after {
    background-image: url(/local/templates/rusvinyl/images/star.svg);
    top: calc((100% - 25px) / 2);
    width: 27px;
    height: 25px;
}

.rusv-main-menu-question {
    background-color: #4EA89F;
}

.rusv-main-menu-question a:after {
    background-image: url(/local/templates/rusvinyl/images/pencil.svg);
    top: calc((100% - 30px) / 2);
    width: 30px;
    height: 30px
}

.rusv-main-menu-participate {
    background-color: #F4796A;
}

.rusv-main-menu-participate a:after {
    background-image: url(/local/templates/rusvinyl/images/bag.svg);
    top: calc((100% - 25px) / 2);
    width: 29px;
    height: 25px;
}

.rusv-main-menu-competition {
    background-color: #1E8BC6;
}

.rusv-main-menu-competition a:after {
    background-image: url(/local/templates/rusvinyl/images/gift.svg);
    top: calc((100% - 28px) / 2);
    width: 22px;
    height: 28px;
}

.rusv-main-menu-phonebook {
    background-color: #50A79F;
}

.rusv-main-menu-phonebook a:after {
    background-image: url(/local/templates/rusvinyl/images/phone.svg);
    top: calc((100% - 40px) / 2);
    width: 22px;
    height: 40px;
}

.rusv-near-news-list-title:after {
    content: ':';
}

.rusv-calendar-link, .rusv-calendar-link:visited {
    display: block;
    color: #009397;
    line-height: 20px;
    text-decoration: none;
    margin-top: 10px;
}

.rusv-news-date {
    display: block;
}

.rusv-calendar-all-events-link, .rusv-calendar-all-events-link:visited {
    color: black;
    text-decoration: underline;
    margin-top: 10px;
    display: block;
}

@media screen and (max-width: 1880px) {
    .rusv-body-content {
        padding-left: 55px;
    }

    .rusv-menu #horizontal-multilevel-menu > li {
        width: 5%;
    }
}

@media screen and (max-width: 1650px) {
    .rusv-menu {
        padding: 0 105px 0 100px;
    }

    .rusv-menu #horizontal-multilevel-menu > li {
        width: 5%;
    }

    .rusv-menu #horizontal-multilevel-menu li li a {
        font-size: 0.85em;
    }

    .rusv-menu #horizontal-multilevel-menu .root-item {
        font-size: 1.09em;
    }

    .rusv-body-left-part {
        max-width: 350px;
        min-width: 315px;
        width: 32%;
    }

}

.rusv-back-url-link, .rusv-back-url-link:visited {
    color: #777676;
    text-decoration: none;
    border-bottom: 1px solid rgba(119, 118, 118, 0.25);
}

/* Настройки для всех кнопок */

*.rusv-button,
*.rusv-button.feed-add-button-load
 {
    display: inline-block;
    height: 30px;
    width: 225px;
    text-align: center;
    line-height: 28px;
    background-color: #F3F3F3;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.5);
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    color: #777676;
    text-decoration: none;
}

*.rusv-button.feed-add-button-load {
    color: transparent;
}

*.rusv-button.feed-add-button-load:before {
    border: 1px solid #c1bdbd;
    color: #c1bdbd;
}

*.rusv-button.feed-add-button-load:after {
    background-color: #c1bdbd;
}

*.rusv-button + .rusv-button {
    margin-left: 10px;
}

*.rusv-button:hover,
*.rusv-button.feed-add-button-load:hover {
    background-color: #f7f7f7;
    box-shadow: 1px 1px 12px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 12px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 12px 2px rgba(0, 0, 0, 0.5);
}

*.rusv-button:active {
    box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
}

/* Настройки для модальных окон и полей ввода (input, textarea) */

.popup-window.rusv-inited {
    background: #F3F3F3;
    padding: 50px 30px 30px 30px;
}

.popup-window.rusv-inited .popup-window-content {
    background: #F3F3F3;
}

.popup-window.rusv-inited .popup-window-close-icon:after {
    content: "\2716";
    background-image: none;
    color: red;
}

.rusv-modal-area.rusv-error {
    border: 1px solid red;
}

.rusv-modal-area + .rusv-modal-area {
    margin-top: 25px;
}

.rusv-modal-input {
    background-color: #F3F3F3;
    border: 0;
    border-bottom: 1px solid #C4C4C4;
    width: 500px;
    padding: 5px 2px;
    line-height: 18px;
}

.rusv-modal-input:focus {
    outline: none;
}

.rusv-modal-textarea  {
    width: calc(100% - 42px);
    resize: none;
    padding: 20px 20px;
    line-height: 18px;
    background-color: #F3f3f3;
    height: 100px;
    outline: none;
    margin-top: 15px;
    border: 1px solid #C4C4C4;
    font-family: "Arial";
}

.rusv-modal-file-link {
    color: #7b7979;
    font-size: 14px;
    position: relative;
    padding-left: 30px;
    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    user-select: none;
    cursor: pointer;
}

.rusv-modal-file-link:before {
    content: '';
    background-image: url(/local/templates/rusvinyl/images/attachedfile.svg);
    width: 28px;
    height: 28px;
    display: inline-block;
    background-size: contain;
    position: absolute;
    top: -7px;
    left: 0;
}

.rusv-modal-file-link-name {
    display: inline-block;
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.rusv-modal-file-link-name:not(:empty) + .rusv-modal-file-link-value {
    display: none;
}

.rusv-modal-button.rusv-button {
    width: 170px;
    padding: 5px;
}

.rusv-modal-control-table {
    display: table;
    width: 100%;
}

.rusv-modal-control-table > * {
    display: table-cell;
}

.rusv-modal-control-table > *:last-child {
    text-align: right;
}

/* Настройки для выбора пользователей в компоненте main.user.selector внутри модальных окон */

.popup-window.rusv-inited .ui-tile-selector-selector-wrap {
    background-color: #F3F3F3;
    border: 0;
    border-bottom: 1px solid #C4C4C4;
    padding: 0;
    max-width: 500px;
    overflow: hidden;
}

.popup-window.rusv-inited .ui-tile-selector-item {
    background-color: transparent;
    padding-left: 0;
    color: #524d4d !important;
    font-weight: 100;
    padding-right: 5px;
}

.popup-window.rusv-inited .ui-tile-selector-item-remove {
    background-image: none;
    position: relative;
    width: 10px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
}

.popup-window.rusv-inited .ui-tile-selector-item-remove:after {
    content: '\2717';
    position: absolute;
    display: inline-block;
    height: 10px;
    line-height: 12px;
    vertical-align: middle;
    top: 0;
    right: 0;
}

.popup-window.rusv-inited .ui-tile-selector-input {
    background-color: #F3F3F3;
    border: 0;
}

.popup-window.rusv-inited .ui-tile-selector-select {
    margin: 7px 0;
    font-family: "Arial";
    color: #848484;
    font-weight: 100;
}

.popup-window.rusv-inited .ui-tile-selector-select:before {
    height: 0;
    width: 0;
    background: none;
}