div.rusv-body {
    display: block;
}

@media screen and (max-width: 1650px) {
    div.rusv-body {
        padding-right: 10%;
    }
}

div.rusv-body-left-part {
    display: none;
}

div.rusv-body-content {
    display: block;
    padding: 0;
    min-width: 800px;
}

div.rusv-body-content-data {
    max-width: none;
}

.rusv-branbox-main {
    height: 350px;
    margin-bottom: 35px;
    overflow: hidden;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
}

.rusv-branbox-main.rusv-is-editabled {
    cursor: pointer;
}

.rusv-branbox-main img {
    width: 100%;
    height: 100%;
}

.rusv-branbox-menu .rusv-main-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rusv-branbox-menu .rusv-main-menu-unit,
.rusv-branbox-menu .rusv-main-menu-unit:visited {
    height: 300px;
    max-width: 22%;
    background-color: white;
    box-sizing: border-box;
    color: #5A5A5A;
    text-align: center;
    text-transform: inherit;
    font-size: 20px;
}

.rusv-branbox-menu .rusv-main-menu-unit:before {
    content: '';
    width: 200px;
    height: 200px;
    display: block;
    border-radius: 100px;
    border: 1px solid red;
    margin-left: calc((100% - 200px) / 2);
    margin-bottom: 25px;
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1650px) {
    .rusv-branbox-menu .rusv-main-menu-unit,
    .rusv-branbox-menu .rusv-main-menu-unit:visited {
        height: 270px;
    }

    .rusv-branbox-menu .rusv-main-menu-unit:before {
        width: 170px;
        height: 170px;
        margin-left: calc((100% - 180px) / 2);
    }
}

@media screen and (max-width: 1450px) {
    .rusv-branbox-menu .rusv-main-menu-unit,
    .rusv-branbox-menu .rusv-main-menu-unit:visited {
        height: 240px;
    }

    .rusv-branbox-menu .rusv-main-menu-unit:before {
        width: 150px;
        height: 150px;
        margin-left: calc((100% - 150px) / 2);
    }
}

@media screen and (max-width: 1450px) {
    .rusv-branbox-menu .rusv-main-menu-unit,
    .rusv-branbox-menu .rusv-main-menu-unit:visited {
        height: 220px;
    }

    .rusv-branbox-menu .rusv-main-menu-unit:before {
        width: 130px;
        height: 130px;
        margin-left: calc((100% - 130px) / 2);
    }
}

.rusv-branbox-menu .rusv-main-menu-unit + .rusv-main-menu-unit {
    margin-top: 0;
}

.rusv-branbox-menu .rusv-main-menu-my-ideas:before {
    border: 1px solid #1392CA;
    background-color: #1392CA;
    background-image: url(/local/components/infoservice/brainbox/templates/.default/images/my-ideas.svg);
}

.rusv-branbox-menu .rusv-main-menu-idea-suggesting:before {
    border: 1px solid #EE3C23;
    background-color: #EE3C23;
    background-image: url(/local/components/infoservice/brainbox/templates/.default/images/idea-suggesting.svg);
}

.rusv-branbox-menu .rusv-main-menu-ideas-fund:before {
    border: 1px solid #00878E;
    background-color: #00878E;
    background-image: url(/local/components/infoservice/brainbox/templates/.default/images/ideas-fund.svg);
}

.rusv-branbox-menu .rusv-main-menu-statistics:before {
    border: 1px solid #FFEB3F;
    background-color: #FFEB3F;
    background-image: url(/local/components/infoservice/brainbox/templates/.default/images/statistics.svg);
}

.rusv-branbox-slider {
    margin-top: 35px;
}

.rusv-branbox-slider .rusv-main-page {
    margin: 0;
}

.rusv-branbox-slider .rusv-main-page-unit {
    width: 100%;
}

@media screen and (max-width: 1550px) {
    .rusv-branbox-slider .rusv-main-page-unit {
        max-width: none;
    }
}

.rusv-branbox-slider .rusv-main-page-unit-title {
    top: 0;
    width: 33.7%;
    padding: 0 10px;
}

.rusv-branbox-slider .rusv-news-list {
    height: 350px;
    width: 100%;
}

.rusv-branbox-slider .rusv-news-item-image {
    width: 35%;
    float: left;
    height: 350px;
    margin-top: 45px;
}

@media screen and (max-width: 1350px) {
    .rusv-branbox-slider .rusv-news-list {
        height: 300px;
    }

    .rusv-branbox-slider .rusv-news-item-image {
        height: 300px;
    }
}

.rusv-branbox-slider .rusv-news-item-title {
    margin: 0;
    line-height: 35px;
    width: 60%;
    max-height: 35px;
}

.rusv-branbox-slider .rusv-news-item-preview-text {
    max-height: 270px;
}

.rusv-branbox-slider .rusv-news-item-preview-text span {
    white-space: pre-line;
}

.rusv-branbox-slider .rusv-news-item-preview-bottom {
    width: 65%;
    right: 0;
}

.rusv-branbox-slider .rusv-news-list-pages {
    height: 20px;
    width: 62%;
    right: 0;
}

@media screen and (max-width: 1550px) {
    .rusv-branbox-slider .rusv-news-item-title {
        width: 58%;
    }

    .rusv-branbox-slider .rusv-news-item-preview-text {
        max-width: none;
    }
}

