.rusv-user-auth {
    position: relative;
}

.rusv-user-auth-logo {
    overflow: hidden;
    width: 27px;
    height: 27px;
    display: inline-block;
    border-radius: 13px;
    text-align: center;
    vertical-align: bottom;
}

.rusv-user-auth-logo > img {
    width: 27px;
    height: 27px;
}

.rusv-user-auth-logo.rusv-user-auth-no-logo > img {
    width: 70%;
}

.rusv-user-auth-data {
    position: absolute;
    display: inline-block;
    background-color: #F3F3F3;
    border: 1px solid #a29b9b;
    min-width: 170px;
    right: 0;
    top: 27px;
    line-height: 20px;
    padding: 5px;
    border-radius: 10px;
}

.rusv-user-auth-data:before {
    content: '';
}

.rusv-user-auth-data a {
    font-size: 12px;
}

.rusv-user-auth-logo:not(:hover) ~ .rusv-user-auth-data:not(:hover) {
    display: none;
}